body{
    background-size: cover;
    height: 900px;
}

.heading{
    font-size: 25px;
width: 100% ;
margin: 0px;
}

#start,#number_object,#status{
    font-size: 20px;
}

.copy_write_footer{
    position: fixed;
    color: rgb(252, 252, 255);
    background-color: blue;
    bottom: 0px ;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 2px solid darkblue;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px lightskyblue;
    
    
}
#note{
    font-size: 15px;
    color: black;
}
#object_name{
    width: 200px;
}
label{
    font-size: 22px;
    color: white;
}